<header class="bg-gray-300">
 <div >
    <h1 class="text-gray-700 text-8xl font-bold uppercase p-4 font-kings flex justify-center">Justin Oeters</h1>
    <nav class="flex justify-evenly">
        <ul class="text-blue-700 text-sm md:text-2xl p-2 flex justify-items-stretch">
            <li class="m-8"><a href="/"><span>HOME</span></a></li>
            <li class="m-8"><a href="/about.hbs"><span>ABOUT ME</span></a></li>
            <li class="m-8"><a href="/contact.hbs"><span>CONTACT</span></a></li>
            <li class="m-8"><a href="/portfolio.hbs"><span>PORTFOLIO</span></a></li>
        </ul>
    </nav>
 </div>
</header>