<header>
 <div >
    <h1 class="text-gray-700 text-5xl font-bold uppercase p-4 font-kings">Justin Oeters</h1>
    <nav>
        <ul class="text-blue-700 text-2xl p-2" >
            <li><a href="#"><span>HOME</span></a></li>
            <li><a href="#"><span>ABOUT ME</span></a></li>
            <li><a href="#"><span>CONTACT</span></a></li>
            <li><a href="#"><span>PORTFOLIO</span></a></li>
        </ul>
    </nav>
 </div>
</header>