<header>
    <h1>Justin Oeters</h1>
    <nav>
        <ul>
            <li><a href="index">HOME</a></li>
            <li><a href="index">ABOUT ME</a></li>
            <li><a href="index">CONTACT</a></li>
            <li><a href="index">PORTFOLIO</a></li>
        </ul>
    </nav>
</header>