<div>
    <div class="flex justify-items-start">
        <p class="m-4 ml-8 p-4 bg-blue-300">My Name is Justin and I am working on becoming a full stack developer. Please explore my site and my Portfolio
            and if you would like to contact me, my information is is the contact tab above.
            <br>
            <br>
            <br>
            At a glance, I have a bachelor's of Science in Political Science, a Master's Degree in Community Planning
            and I have been working as a probation officer for almost a decade now.    
            <br>
            <br>
            <br>
            My skills include:
            <br>
            <br>
            <br>
            My passions are:
            <br>
            <br>
            <br>
            My goals are:
              <br>
            <br>
            <br>
            You can download my resume here: 
        </p>
        
        <div class="max-w-md max-h-md">
        <img class="m-4 rounded-xl shadow overflow-hidden" src="/img/ProfilePic2.jpg" />

      </div>
    </div>
  

  
</div>