<div class="" >
    <div class="flex justify-items-start">
        <div class="max-w-md max-h-md">
        <img class="m-4 rounded-xl shadow-lg overflow-hidden" src="/img/ProfilePic2.jpg" />

      </div>
      <div class="text-xl m-4 ml-8 p-4 bg-green-200 shadow-lg rounded-xl" >
        <p class="font-bold">
            Hello! My Name is Justin and I am working on becoming a computer programmer. 
            At a glance, I have a bachelor's of Science in Political Science, a 
            Master's Degree in Community Planning and I have been working as a 
            probation officer for almost a decade now.  Please explore my site and 
            my Portfolio and if you would like to contact me, my information is in 
            the contact tab above.
                        <br>
            <br>
            My skills include: HTML, CSS, Bootstrap; Bulma; Tailwind; Jquery; Nodejs; express; Handlebars; Nuxtjs; Vuejs;
            inquirer; fs; jest; npm; uuid; Heroku; Github; Visual Studio; GitBash; MySQL2; Sequelize; Dotenv; Insomnia; Nodemon;
            and more...
                        <br>
            <br>
            My passions are:  Learning new things every day.  Maintaining a stellar work ethic. Making the world a better place.
                        <br>
            <br>
            My goals are:  Continue my education in the computer science field and I hope one day to design a game, app, or program 
            that makes the world a better place. 
                        <br>
            <br>
            You can download my resume here: <a class="text-blue-500 underline" href="\pdf\Oeters, Justin Resume2021.pdf" target="_blank">Resume.pdf</a>
        </p>
        </div>
    </div>
  

  
</div>