  <main class="p-4">
        <h1>Welcome to my Portfolio</h1>
    <p class="border-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. In fugit, 
        voluptate, magni recusandae architecto dignissimos amet neque ut 
        autem voluptatibus debitis repudiandae veritatis delectus iure 
        officiis sunt porro. Dolores, voluptatum.</p>
  </main>