<main>

<div class="grid lg:grid-cols-3 gap-6 m-12">
{{!-- Cards Go Here --}}
<div class="card">
    <h3 class="m-2 font-bold text-4xl">Food Truck App</h3>
    <div class="max-w-full max-h-full rounded-4xl overflow-hidden">
    <img class="p-2" src="\img\foodTruck.png" alt="Food Truck Image">
    </div>
    <div class="grid grid-cols-1 font-bold text-lg"> 
    <p class="font-bold text-lg p-2">An app to quickly locate food trucks in your area.
        This app was a collaboration with Dahir Abdi, Hayden Lugo, and
        Michael Boyles.
    </p>
    <a class="text-2xl underline p-1" href="https://github.com/lostboysbangarang/FoodTruckProject" target="_blank">Github Repository</a>
    <a class="text-2xl underline p-2" href="https://firstappft.herokuapp.com/" target="_blank">Deployed App</a>
</div>
</div>

<div class="card">
    <h3 class="m-2 font-bold text-4xl">Employee Tracker</h3>
    <div class="max-w-full max-h-full rounded-4xl overflow-hidden">
    <img class="p-2" src="\img\EmployeeTracker.png" alt="Employee Tracker Image">
    </div>
    <div class="grid grid-cols-1 font-bold text-lg"> 
    <p class="font-bold text-lg p-2">In this project, I used nodejs and mySQL to create a 
        database accessible through the CLI in which you could view employees, roles, and 
        departments. In addition you are able to add roles, add departments, add employees, 
        and update employees quickly and easily.
    <br>
    <br>
    <a class="text-2xl underline p-1" href="https://github.com/gus1919/SQL-Employee-Tracker" target="_blank">Github Repository</a>
    <br>
    </p>
  
</div>
</div>

<div class="card">
    <h3 class="m-2 font-bold text-4xl">Team Profile Generator</h3>
    <div class="max-w-full max-h-full rounded-4xl overflow-hidden">
    <img class="p-2" src="\img\teamProfileGen (1).png" alt="Team Profile Image">
    </div>
    <div class="grid grid-cols-1 font-bold text-lg"> 
    <p class="font-bold text-lg p-2">Using Command Line Interface (CLI),  this app allows you to
        create a team of people based on roles.  Please watch the linked video for a tutorial of
        the project.
       <br>
    <br>
    </p>
    <a class="text-2xl underline p-1" href="https://github.com/gus1919/Team-Profile-Generator-2.0" target="_blank">Github Repository</a>
    <a class="text-2xl underline p-2" href="https://watch.screencastify.com/v/AsCBn7Fiz67OGoHZnSnq" target="_blank">Video Tutorial</a>
</div>
</div>


</div>
</main>