<main>

<div class="grid lg:grid-cols-3 gap-6 m-12">
{{!-- Cards Go Here --}}
<div class="card">
    <h3 class="m-2 font-bold text-4xl">Food Truck App</h3>
    <div class="max-w-full max-h-full rounded-4xl overflow-hidden">
    <img class="p-2" src="\img\foodTruck.png" alt="Food Truck Image">
    </div>
    <div class="grid grid-cols-1 font-bold text-lg"> 
    <p class="font-bold text-lg p-2">An app to quickly locate food trucks in your area.
        This app was a collaboration with Dahir Abdi, Hayden Lugo, and
        Michael Boyles.
    </p>
    <a class="text-2xl underline p-1" href="https://github.com/lostboysbangarang/FoodTruckProject">Github Repository</a>
    <a class="text-2xl underline p-2" href="https://firstappft.herokuapp.com/">Deployed App</a>
</div>
</div>

<div class="card">
    <h3 class="m-2 font-bold text-4xl">Employee Tracker</h3>
    <div class="max-w-full max-h-full rounded-4xl overflow-hidden">
    <img class="p-2" src="\img\EmployeeTracker.png" alt="Employee Tracker Image">
    </div>
    <div class="grid grid-cols-1 font-bold text-lg"> 
    <p class="font-bold text-lg p-2">An App that does stuf
    <br>
    <br>
    <br>
    </p>
    <a class="text-2xl underline p-1" href="https://github.com/lostboysbangarang/FoodTruckProject">Github Repository</a>
    <a class="text-2xl underline p-2" href="https://firstappft.herokuapp.com/">Deployed App</a>
</div>
</div>

<div class="card">
    <h3 class="m-2 font-bold text-4xl">Team Profile Generator</h3>
    <div class="max-w-full max-h-full rounded-4xl overflow-hidden">
    <img class="p-2" src="\img\teamProfileGen (1).png" alt="Team Profile Image">
    </div>
    <div class="grid grid-cols-1 font-bold text-lg"> 
    <p class="font-bold text-lg p-2">An app that does stuff.
       <br>
    <br>
    <br>
    </p>
    <a class="text-2xl underline p-1" href="https://github.com/lostboysbangarang/FoodTruckProject">Github Repository</a>
    <a class="text-2xl underline p-2" href="https://firstappft.herokuapp.com/">Deployed App</a>
</div>
</div>


</div>
</main>